<!--The content below is only a placeholder and can be replaced.-->
<ul class = "nav navbar-nav">
    <li>
        <a routerLink="register"><button class="btn-register" >Register</button></a>
    </li>
       
    <li>
        <a routerLink="login"><button class="btn-login" >Login</button></a>
    </li>
    
    <li>
        <a routerLink ="home"><button class = "btn-home">Home</button></a>
    </li>

</ul>
    <router-outlet></router-outlet>

<!-- <div id=log>
    <h3>If you have an existing account you can login below</h3>
    <button type = "button" class = "logbtn" (click)= "someFunc()" > Login</button>
    <h3>Register below to make a new account</h3>
    <button type = "button" class = "regbtn" (click) = "anotherFunc()" >Register</button>
</div> -->





