<div>
    <h2><input type = text [(ngModel)] = "user.firstName" placeholder="firstname"></h2>
    <h2> <input type = text [(ngModel)] = "user.lastName" placeholder="lastname"></h2>
    <h2><input type = text [(ngModel)] = "user.dob" placeholder="dob"></h2>
    <h2><input type = text [(ngModel)] = "user.password" placeholder="password"></h2>
    <h2><input type = text [(ngModel)] = "user.email" placeholder="email"></h2>
    <h2><input type = text [(ngModel)] = "user.name" placeholder="username"></h2>
</div>

<div>
    <button id="subbtn" (click)="register()">submit</button>
</div>